<table>
  <thead>
      <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Gender</th>
          <th>AnnualSalary</th>
          <th>DateofBirth</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let e of employees;">
          <td>{{e.Code|uppercase}}</td>
          <td>{{e.Name|emp:e.Gender}}</td> <!-- Customized pipe defined in emp.pipe.ts in pipe folder-->
          <td>{{e.Gender}}</td>
          <td>{{e.AnnualSalary}}</td>
          <td>{{e.DateofBirth | date:'MM/d/yyyy'}}</td>
          <!--In built date pipe -->
      </tr>
      <tr *ngIf="!employees || employees.length==0">
          <td colspan="5"> No employees</td>
      </tr>
  </tbody>
</table>